## BDA LAB 1

## Starting a pyspark session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Lab1").getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

### Q1 : Write a PySpark program to square set of integers.

In [2]:
rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5])

sum_of_squares = rdd.map(lambda x: x * x)
sum_of_squares = sum_of_squares.collect()
print(f"Answer:{sum_of_squares}")

Answer:[1, 4, 9, 16, 25]

### Q2 : Write a PySpark program to find the maximum of given set of numbers.

In [3]:
max_value = rdd.max()
print(f"The maximum value is: {max_value}")

The maximum value is: 5

### Q3 : Write a PySpark program to find average of N numbers.

In [4]:
total_sum = rdd.reduce(lambda x, y: x + y)
count = rdd.count()
average = total_sum / count
print(f"The average value is: {average}")

The average value is: 3.0

### Q4 : Demonstrate how to read a CSV file into a PySpark DataFrame

In [5]:
csv_file_path = "./data/data.csv"
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

### Q5 : Use PySpark commands to display the first few rows and schema of a DataFrame.

In [6]:
df.show()
df.printSchema()

+---------+---+-----------+
|     Name|Age|       City|
+---------+---+-----------+
|    Alice| 30|   New York|
|      Bob| 25|Los Angeles|
|Catherine| 35|    Chicago|
|    David| 40|    Houston|
+---------+---+-----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)

### Q6 : Calculate basic summary statistics for a specific column in the DataFrame.

In [7]:
df.describe().show()

+-------+-----+-----------------+--------+
|summary| Name|              Age|    City|
+-------+-----+-----------------+--------+
|  count|    4|                4|       4|
|   mean| null|             32.5|    null|
| stddev| null|6.454972243679028|    null|
|    min|Alice|               25| Chicago|
|    max|David|               40|New York|
+-------+-----+-----------------+--------+